/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=================================================
    custom styles
=================================================
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
=================================================
    layout
=================================================
*/
body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #243A73;
}
header {
    height: 120px;
}
main {
    flex-grow: 1;
}
footer {
    height: 30px;

}

/*
=================================================
    typography
=================================================
*/
body , button, .input{
    font: 400 24px/44px 'Glory', sans-serif;
    color: #243A73;
}
.bigLetters, .seperator {
    font-size: 96px;
    line-height: 120px;
}
.bigLetters {
    font-weight: 700;
}
.smallcaps, .seperator {
    font-weight: 100;
}
.seperator {
    color: #A5BECC;
}
.logo {
    color: #F2EBE9;
}
.tooltip {
    font-size: 24px;
}
.title {
    font-size: 76px;
    line-height: 100px;
    font-weight: 400;
    text-align: center;
}
.field label {
    font-weight: 100;
}
footer {
    font-size: 14px;
    color: #F2EBE9;
    line-height: 30px;
    text-align: center;
}
/*
=================================================
    header
=================================================
*/

.profiles, .profile, .edit {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
   
}
.player, .computer {
    flex-grow: 0;
    width: min-content;
    background-color: #F2EBE9;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;

}
.profile .name {
    margin-left: 1em;
    margin-right: 1em;
}
.edit {
    margin-left: 2em;
    
}
.edit .icon {
    width: 24px;
    height: auto;
    opacity: 75%;
    background-color: #A5BECC;
}
.tooltip {
    display: none;
}
.edit.active {
    background-color: #A5BECC;
}
.hidden {
    visibility: hidden;
}


/*
=================================================
    Landing page
=================================================
*/
.menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 100%;
    padding: 10px;
}
.menu .quick {
    min-width: min-content;
    flex: 1 0 auto;
    padding-right: 10px;
}
.menu .custom {
    min-width: 720px;
    flex: 2 0 auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: #F2EBE9;
    border-radius: 20px;
}
.startQG {
    background-color: #A5BECC;
    padding: 1em;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

form{
    flex-grow: 1;
}
fieldset {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.field {
    height: 100px;
    width: 400px;
}
.field input {
    background-color: #a5becc33;
    height: 44px;
    padding-left: 1em;
}
#playerName {
    width: 100%;
    border-radius: 20px;
}
input[type=number]{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
button.rounds {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.rounds {
    width: 50%;
    height: 44px;
    vertical-align: middle;
}
.startCG {
    color: #243A73;
    background-color: #A5BECC;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
